.my-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.bt_nv {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  padding: 15px 20px;
}
.text-black-70 {
  color: rgba(0, 0, 0, 0.78);
}
.text-black-60 {
  color: rgba(0, 0, 0, 0.68);
}
._dcp {
  color: grey !important;
  font-size: 0.8rem;
  font-weight: 400 !important;
  text-decoration: line-through;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.out_none {
  outline: none !important;
}
.logo {
  display: flex;
  flex-basis: 30% !important;
  justify-content: start !important;
  align-items: center !important;
  flex: 0;
}
.search {
  display: flex;
  flex-basis: 50% !important;
  align-items: end;
  justify-content: start !important;
  flex-direction: row;
  align-items: center !important;
}
.cat_ry {
  flex-basis: 5% !important;
  flex-grow: 0;
  outline: none;
  border: none;
  background: none;
  transform: scale(1.3);
}

.cart {
  display: flex;
  flex-basis: 20%;
  align-items: center !important;
  justify-content: end;
}
.search > div {
  flex-basis: 100%;
}

.cr_ct {
  display: inline-block;
  padding: 4px 10px;
  color: white;
  background-color: #f39900;
  border-radius: 50px;
  font-size: 0.7rem;
  margin: 8px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}
.menu > div > a {
  align-items: center !important;
  justify-content: center;
  font-size: 1rem !important;
  color: rgb(66, 66, 66);
  font-weight: 500 !important;
  padding: 5px 5px;
}
.menu > div {
  display: flex;
}

.p-relative {
  position: relative !important;
}
.carousel-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: transform 1s ease-in-out;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: auto;
  background: none;
}
.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  overflow: hidden;
  min-width: 11.788rem;
  max-width: 11.788rem;
  min-height: 250px;
  display: inline-block;
  margin: 1.89px;
  transition: all 0s ease-in-out;
  background-color: white;
  border-bottom: 1px solid #e89900;
  user-select: none;
  scroll-snap-align: start;
  box-shadow: 5px 2px 15px rgb(47, 47, 47, 0.05);
  position: relative;
}
.carousel-card:hover {
  box-shadow: 1px 2px 8px rgb(47, 47, 47, 0.2);
  transform: scale(1.01);
  transition: all 0s ease-in-out;
  cursor: pointer;
}
.carousel-img {
  width: 100% !important;
  max-height: 180px !important;
  overflow: hidden;
}
.carousel-text {
  font-size: 0.8rem !important;
  font-weight: 500;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 8px;
}

.arrow-button {
  position: absolute;
  top: 40%;
  transform: translateY(50%);
  background-color: #55677b4e;
  color: #fff;
  border: 1px solid #ffffff4f;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 5px 2px 18px rgb(47, 47, 47, 0.2);
}
.arrow-button:hover {
  background-color: black !important;
  transition: all 0.2s ease-in-out;
}
.cl-b:hover .left,
.cl-b:hover .right {
  opacity: 1;
}

.arrow-button.left {
  opacity: 0;
  left: 10px;
}

.arrow-button.right {
  opacity: 0;
  right: 10px;
}
.cat-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-around;
}
.bg-primary {
  background-color: #e89900 !important;
}

.cat-card {
  width: 10rem;
  height: 100%;
}
.al-r {
  text-align: right !important;
}
.al-l {
  text-align: left;
}
.al-c {
  text-align: center !important;
}
.carousel-text span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.add_cta_text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.carousel-text_ct {
  font-size: 0.8rem !important;
  font-weight: 500;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 8px;
}
.carousel-text_ct span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.fl-b-100 {
  flex-basis: 100% !important;
  flex-grow: 0;
  flex-shrink: 0;
}
.fl-b-70 {
  flex-basis: 70% !important;
  flex-grow: 0;
  flex-shrink: 0;
}
.fl-b-60 {
  flex-basis: 60% !important;
  flex-grow: 0;
  flex-shrink: 0;
}
.fl-b-68 {
  flex-basis: 68% !important;
  flex-grow: 0;
  flex-shrink: 0;
}
.fl-b-30 {
  flex-basis: 30% !important;
  flex-grow: 0;
  flex-shrink: 0;
}
.fl-b-20 {
  flex-basis: 20% !important;
  flex-grow: 0;
  flex-shrink: 0;
}
.fl-b-80 {
  flex-basis: 80% !important;
  flex-grow: 0;
  flex-shrink: 0;
}

.w-80 {
  width: 80% !important;
}
.w-20 {
  width: 20% !important;
}
.w-70 {
  width: 70% !important;
}
.w-60 {
  width: 60% !important;
}
.w-30 {
  width: 30% !important;
}

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
a {
  display: inline-flex;
  text-decoration: none;
  align-items: center !important;
  font-size: 1.1rem;
  color: #2f2f2f;
  font-weight: 500;
}
a:hover {
  color: #000000 !important;
}
.icon {
  font-size: 1.5rem;
  margin: 5px;
  vertical-align: middle !important;
  display: inline-flex;
}
.svg-icn {
  margin: 5px;
  vertical-align: middle !important;
  display: inline-flex;
}
.fs-p8 {
  font-size: 0.88rem !important;
}
.fs-p7 {
  font-size: 0.77rem !important;
}
.fs-p6 {
  font-size: 0.66rem !important;
}
.fs-1 {
  font-size: 1rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}

.form {
  border-bottom: 1px solid grey;
  grid-template-columns: 1fr auto;
  display: grid;
  overflow: hidden;
  align-items: center;
}
.form > input {
  border: none !important;
  outline: none !important;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
  font-size: 1.1rem;
  padding: none !important;
}
.form > div > button {
  margin: none !important;
  outline: none !important;
  color: rgb(61, 61, 61) !important;
  background: none;
  border: none;
  font-size: 1.5rem;
}
.form > div > button:hover {
  outline: none;
  border: none !important;
}
.img-container {
  padding: 0px 20px;
  flex-basis: auto !important;
}
.img-placeholder {
  width: 40px;
  height: 40px;
  background-color: rgb(192, 207, 208);
  border-radius: 50px;
  margin: 0 !important;
}
.p-absolute {
  position: absolute !important;
}
.p-fixed {
  position: fixed !important;
}
.p-sticky {
  position: sticky !important;
  position: -webkit-sticky;
  top: 140px;
}
.b-0 {
  bottom: 0;
}
.vertical-divider {
  border-left: 1.3px solid black;
  height: 30px;
  flex-basis: auto !important;
  justify-content: right;
}
.horizontal-divider {
  border-bottom: 1.3px solid rgb(225, 225, 225);
  width: 100%;
}
.bg-danger-10 {
  background-color: rgba(206, 53, 66, 0.1);
}
.border-tb {
  border-bottom: 1.3px solid rgb(225, 225, 225);
  border-top: 1.3px solid rgb(225, 225, 225);
  width: 100%;
}
.border-primary {
  border: 1.5px solid #e89900 !important;
}

.country > div {
  width: 30px;
  height: 30px;
  background-color: rgb(192, 207, 208);
  border-radius: 50px;
}
.md-flex {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
}
.v-m {
  color: black !important;
  background: none;
  padding: 5px 10px !important;
  font-size: 1rem !important;
  display: inline-flex;
  align-items: center;
  font-weight: bolder !important;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.v-m > svg {
  fill: black;
  vertical-align: center;
}
.py-2p5 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.v-m:hover {
  color: black !important;
  transition: all 0.2s ease-out;
}
.v-m > span {
  transition: all 0.2s ease-out;
}

.v-m:hover > span {
  margin-right: 10px !important;
  transition: all 0.2s ease-in;
}

.image-slider {
  position: relative;
  width: 100%; /* Set your desired width */
  height: 400px; /* Set your desired height */
  overflow: hidden;
}

.i-m-s {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
/* Add these styles to App.css */
.controls {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.controls > button {
  cursor: pointer;
  padding: 10px;
  display: flex;
  vertical-align: middle;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  background-color: #55677b4e !important;
  box-shadow: 5px 2px 18px rgb(47, 47, 47, 0.2);
  border-radius: 50px;
  fill: white;
  border: none;
}
.text-white {
  color: white !important;
}

.controls > button:hover {
  background-color: rgba(67, 67, 67, 0.505) !important;
}
.mt-m5 {
  margin-top: -50px;
}

.rc-d-container {
  width: 95.2%;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff4f;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
  border: 1px solid #ffffff87;
}
.rc-d-wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  height: auto;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px;
}
.rc-d-wrapper > a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(49, 49, 49) !important;
}
.rc-d-wrapper::-webkit-scrollbar {
  height: 2px;
}
.rc-d-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(128, 128, 128, 0);
  background: none;
}
.rc-d-wrapper::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 5px;
}
.rc-d-wrapper::-webkit-scrollbar-thumb:hover {
  background: #5f102e;
}

.sd_mn::-webkit-scrollbar {
  width: 5px;
}
.sd_mn::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(128, 128, 128, 1);
  background: none;
}
.sd_mn::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 5px !important;
}
.rc-d-card {
  width: 270px;
  max-width: 300px;
  padding: 3px;
  background-color: #ffffff;
  margin: 0px 2px;
  scroll-snap-align: start;
  border-radius: 2px;
  transition-duration: 0.3s;
  border-radius: 3px;
  font-size: 1rem !important;
}
.rc-d-card:hover {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}
.rc-d-card > div {
  left: 0;
  top: 10px;
  position: relative;
}
.primary-color {
  color: #e89900 !important;
}
.launch_day {
  background-image: url("/banner_images/launch_day_sale.jpg");
  width: 100%;
  max-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.rc-d-card img {
  width: 30%;
  height: auto;
  margin-bottom: 0px;
  border-radius: 15px;
}
.rc-d-controls {
  position: absolute;
  top: 25% !important;
  transform: translateY(-50%);
  width: 100%;
  display: none;
}
.rc-d-container:hover .rc-d-controls {
  display: block !important;
}
.rc-d-next-btn {
  position: absolute;
  right: 0;
}
.rc-d-prev-btn {
  position: absolute;
  left: 0;
}
.rc-d-prev-btn,
.rc-d-next-btn {
  border: 1px solid #ffffff4f;
  font-size: 1rem !important;
  cursor: pointer;
  padding: 0px 15px;
  border-radius: 50px;
  background-color: #55677b4e;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}
.rc-d-prev-btn:hover,
.rc-d-next-btn:hover {
  background-color: #000000;
}
.rc-d-arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0 !important;
  display: inline-block;
  padding: 3px;
  display: block;
  margin: 15px auto;
}
.rc-d-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.rc-d-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.mt-14 {
  margin-top: 140px !important;
}
.mt-13 {
  margin-top: 130px;
}
.mt-12 {
  margin-top: 120px;
}
.mt-11 {
  margin-top: 110px;
}
.mt-10 {
  margin-top: 100px;
}
.mt-9 {
  margin-top: 90px;
}
.mt-8 {
  margin-top: 80px;
}
.mt-7 {
  margin-top: 70px;
}
.mt-6 {
  margin-top: 60px;
}

.v-am {
  border: 1px solid black;
  vertical-align: middle;
  display: inline-flex;
}
ul.b-l_ {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.b-l_ > li {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
}
ul.b-l_ > li > a {
  font-size: 0.8rem;
  font-weight: 400;
}
._ct_img {
  width: 20% !important;
}
.ct-tb {
  border-collapse: collapse;
  width: 100%;
}
.ct-tb th {
  border-bottom: 1.2px solid black;
  text-align: left;
  padding: 5px 30px;
  font-weight: 400;
  font-size: 1rem;
}
.ct-tb td {
  padding: 10px 10px;
}
.ct-tb-sl {
  width: 10px !important;
  height: 30px;
  border: none !important;
  border-radius: 0 !important;
  background-color: #f9f9f9;
  text-align: center;
  padding: 0;
}
.color-black {
  color: black !important;
}
.border-2 {
  border: 2px solid rgb(72, 72, 72) !important;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500 !important;
}
.img_sld_ch {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  border: 0.2px solid rgb(231, 231, 231);
  border-radius: 3px;
}
.img_sld_ch:hover {
  border: 0.2px solid rgb(52, 52, 52);
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}
.img_sld {
  transition: all 0.5 ease-in-out;
}
._pr {
  font-size: 25px;
  color: #000000;
}
.active {
  border: 1px solid rgb(0, 0, 0) !important;
  box-shadow: 0.5px 1px 5px rgb(47, 47, 47, 0.4);
}
.active_clr {
  border: 2px solid rgb(255, 255, 255) !important;
  box-shadow: 0.5px 1px 5px rgb(47, 47, 47, 0.4);
}
.rounded-full {
  border-radius: 100%;
}
.color-variance {
  margin-top: 15px;
  align-items: center !important;
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.clr_btn {
  width: 25px;
  height: 24px;
}
.js-between {
  justify-content: space-between;
}
.js-evenly {
  justify-content: space-evenly;
}
.js-around {
  justify-content: space-around;
}
.js-center {
  justify-content: center !important;
  align-items: center !important;
}
.js-start {
  justify-content: start !important;
}
.js-end {
  justify-content: end !important;
}
.ali-center {
  align-items: center !important;
}

.at-c {
  align-items: center;
}

._qty_btn {
  outline: none !important;
  padding: 2px 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: none;
  background-color: #e89900;
  box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.3);
}
.ct_link:hover {
  background-color: rgba(137, 137, 137, 0.1);
}
.d-block {
  display: block !important;
}
._qty_int {
  outline: none !important;
  width: 50px;
  text-align: center;
  padding: 5px;
  border: none;
  text-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.3);
}
._qty_btn_ct {
  outline: none !important;
  color: rgb(33, 33, 33);
  text-align: center;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: none;
  background: none !important;
  font-weight: bold !important;
  font-size: 1.2rem;
}
._qty_int_ct {
  border: none !important;
  outline: none !important;
  width: 40px;
  text-align: center;
  padding: 5px;
}
._qty_int_ct:disabled {
  background: none;
  color: black;
}
._qty_int:disabled {
  background: none;
  color: black;
}
.b-color-grey-l {
  border-color: #f5f5f5 !important;
}
.text-primary {
  color: #e89900 !important;
}
.bg-primary-10 {
  background-color: rgba(232, 153, 0, 0.1);
}
.ad_t_ct_btn {
  background-color: #e89900;
  color: white;
  border-radius: 3px;
  padding: 10px 24px;
  border: none;
  outline: none !important;
  width: 95%;
  font-size: 15px;
  font-weight: 500;
}

.ad_t_wh_btn {
  border: 2px solid black;
  color: black;
  border-radius: 3px;
  padding: 10px 24px;
  outline: none !important;
  width: 95%;
  font-size: 15px;
  font-weight: 500;
  background-color: none !important;
}
.ad_t_ct_btn:disabled {
  opacity: 0.2;
  text-decoration: line-through;
  background-color: black;
  color: white;
}
.ad_t_ct {
  display: flex;
  justify-content: center;
}
.sz_btn {
  cursor: pointer;
}

.border-none {
  border: none !important;
  outline: none !important;
}
.outline-none {
  outline: none !important;
}
.add_container {
  z-index: 100;
  overflow-wrap: wrap;
  position: fixed;
  top: 70px;
}
.ov-hidden {
  overflow: hidden;
  overflow-wrap: wrap;
}

.bg-grey-10 {
  background-color: #f2f2f2;
}
.bg-grey-20 {
  background-color: #dbdbdb;
}

.de_r {
  min-height: 300px;
}
.c-header {
  position: absolute;
  top: 0;
  left: 0;
}
.border-bottom-black {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid black !important;
}
.bb-g-10 {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #f2f2f2 !important;
}
.bg-black {
  background-color: black !important;
}
.bg-none {
  background: none !important;
}
.txt-grey-100 {
  color: rgb(72, 72, 72) !important;
}
.ad_c_plc {
  min-height: 100px;
  overflow: hidden;
  overflow: hidden;
  flex-wrap: wrap;
}
.ad_c_btn p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.w-100 {
  width: 100% !important;
}

.w-12_9r {
  min-width: 12.9rem !important;
}
._crd_btn {
  background-color: rgb(145, 145, 145);
  display: block;
  color: white;
  font-size: 0.888rem;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  opacity: 0.2;
  border: none !important;
  width: 100%;
}
.disabled {
  opacity: 0.1 !important;
  text-decoration: line-through;
}

.carousel-card:hover ._crd_btn {
  background-color: #e89900;
  opacity: 1;
  color: white !important;
}

.h-3 {
  min-height: 300px !important;
}
.h-7 {
  min-height: 700px !important;
}
.h-m {
  max-height: 100px !important;
}
.ovy-auto {
  overflow-y: auto;
}
.ovx-auto {
  overflow-x: auto;
}
.shadow-full {
  box-shadow: 2px 2px 15px 10008px rgba(0, 0, 0, 0.5);
}
.link {
  font-weight: normal;
  font-size: 15px;
  color: rgb(79, 79, 255);
}
.link:hover {
  text-decoration: underline;
  color: rgb(66, 66, 255) !important;
}
.db-s {
  flex-basis: auto;
}
.f-c-r {
  flex-direction: row;
}
.f-wrap {
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .db-s {
    flex-basis: 100% !important;
  }
  .f-c-r {
    flex-direction: column !important;
  }
}
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
.us_lc_fr {
  min-height: 200px;
  width: 100%;
}
.us_lc_fr > input,
textarea,
select {
  border: 1px solid rgb(64, 64, 64);
  padding: 0.5em 3.5em 0.5em 1em;
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  margin-top: 5px;
  outline: none;
}
.social > a {
  padding: 5px 5px;
  border: 1.3px solid rgb(87, 87, 87);
  border-radius: 50%;
  margin: 3px;
}

.select {
  background-color: white;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ffffff, #ffffff);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.select.minimal:focus {
  background-image: linear-gradient(45deg, transparent 50%, rgb(25, 25, 25) 50%),
    linear-gradient(135deg, rgb(40, 40, 40) 50%, transparent 50%),
    linear-gradient(to right, #ffffff, #ffffff);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.cursor-p {
  cursor: pointer;
}
.alert {
  position: fixed;
  top: 0;
  margin: 10px auto !important;
  z-index: 999;
  width: 50%;
  font-size: 0.9rem !important;
  left: 25%;
  padding: 10px;
  align-items: center !important;
  display: flex;
  flex: auto;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
}

.alert span {
  display: flex;
  justify-content: center;
  flex-basis: 95%;
}
.alert button {
  background: none !important;
  float: right;
  display: flex;
  flex-basis: 5%;
  justify-content: end;
  border: none !important;
}
